.orders{
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 280px;
    border-radius: 20px;
    background-color: #FF392B;
    gap: 30px;
    color: white;
    box-shadow: -3px 15px 10px 4px rgba(176,143,143,0.64);
    -webkit-box-shadow: -3px 15px 10px 4px rgba(176,143,143,0.64);
    -moz-box-shadow: -3px 15px 10px 4px rgba(176,143,143,0.64);
    // comeback for box shadow 

}