.home {
  display: flex;
}
.home .mainContainer {
  flex: 16;
  border-radius: 20px;
  padding: 50px;
  background-color: white;
}
.home .mainContainer .hero {
  margin-top: 30px;
  margin-left: 0px;
  display: flex;
  gap: 40px;
}
.home .mainContainer .hero .left .top {
  display: flex;
  gap: 35px;
}
.home .mainContainer .hero .left .middle {
  margin: 50px 0px;
  background-color: #f7f8ff;
}
.home .mainContainer .hero .left .middle .statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}
.home .mainContainer .hero .left .middle .statistics #year {
  width: 65px;
  height: 40px;
  border-radius: 15px;
  color: gray;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  padding-right: 10px;
}
.home .mainContainer .hero .left .middle .desktop-statistics {
  width: 100%;
}
.home .mainContainer .hero .left .middle .mobile-statistics {
  display: none;
}
.home .mainContainer .hero .left .bottom {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-top: 120px;
}
.home .mainContainer .hero .left .bottom .spentTime {
  width: 400px;
  height: 280px;
  top: 60.51px;
  left: 93px;
  gap: 0px;
  opacity: 0px;
  border: 2px solid rgb(228, 220, 220);
  border-top: none;
  border-radius: 25px;
  background-color: #e9e9e9;
  box-shadow: 0px 7px 5px 3px rgba(173, 170, 170, 0.65);
  -webkit-box-shadow: 0px 7px 5px 3px rgba(173, 170, 170, 0.65);
  -moz-box-shadow: 0px 7px 5px 3px rgba(173, 170, 170, 0.65);
}
.home .mainContainer .hero .left .bottom .spentTime .time {
  align-items: start;
  padding: 5px 20px;
}
.home .mainContainer .hero .left .bottom .information {
  width: 400px;
  height: 280px;
  padding: 0px 20px;
  border: solid rgba(228, 228, 228, 0.836) 2px;
  border-radius: 20px;
  border-top: none;
  box-shadow: 0px 7px 5px 3px rgba(173, 170, 170, 0.65);
  -webkit-box-shadow: 0px 7px 5px 3px rgba(173, 170, 170, 0.65);
  -moz-box-shadow: 0px 7px 5px 3px rgba(173, 170, 170, 0.65);
}
.home .mainContainer .hero .left .bottom .information .profile {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 15px;
}
.home .mainContainer .hero .left .bottom .information .profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.home .mainContainer .hero .left .bottom .information .profile .name h3 {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 800;
}
.home .mainContainer .hero .left .bottom .information .profile .name p {
  margin-top: 0px;
  color: gray;
}
.home .mainContainer .hero .left .bottom .information .title {
  font-size: 25px;
  font-weight: 800;
  width: 350px;
  margin-top: 8px;
  color: #000013;
}
.home .mainContainer .hero .left .bottom .information .media {
  display: flex;
  gap: 40px;
}
.home .mainContainer .hero .left .bottom .information .media .icons {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #000013;
}
.home .mainContainer .hero .left .bottom .information .media .icons .icon {
  width: 35px;
}
.home .mainContainer .hero .left .bottom .information .media .icons .play {
  color: #3326AE;
}
.home .mainContainer .hero .left .bottom .information .media .icons .clock {
  color: #00C3F8;
}
.home .mainContainer .hero .left .bottom .information .media .icons .star {
  color: #FF0000;
}
.home .mainContainer .hero .left .bottom .information .connect {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .mainContainer .hero .left .bottom .information .connect .days {
  color: #000013;
}
.home .mainContainer .hero .left .bottom .information .connect button {
  width: 105px;
  height: 37.46px;
  top: 736.5px;
  left: 708px;
  gap: 0px;
  opacity: 0px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3326AE;
  color: white;
}
.home .mainContainer .hero .left .bottom .information .connect button .cheveron {
  color: white;
}/*# sourceMappingURL=home.css.map */